<div class="container">
	<div class="starter-template">
		<p class="lead">This is the admin page.</p>
		<br><br>
	</div>

	<div class="col-md-6 col-md-offset-3">
		<p class="text-success text-center"><small><strong>-- Implemented buttons --</strong></small></p>
			<a href="/portal/admin/addTask" class="btn btn-block btn-sm btn-default">Add Task</a>
			<a href="/portal/admin/requests" class="btn btn-block btn-sm btn-primary">View Requests</a>
			<a href="/portal/admin/addProject" class="btn btn-block btn-sm btn-default">Add Project</a>
			<a href="/portal/admin/addRole" class="btn btn-block btn-sm btn-primary">Add User Role</a>
			<br>
			<p class="text-danger text-center"><small><strong>-- Not Implemented buttons --</strong></small></p>
			<button type="button" class="btn btn-block btn-sm btn-default">Extra Button</button>
			<button type="button" class="btn btn-block btn-sm btn-primary">Extra Button</button>
			<button type="button" class="btn btn-block btn-sm btn-default">Extra Button</button>
			<button type="button" class="btn btn-block btn-sm btn-primary">Extra Button</button>
	</div>

</div><!-- /.container -->
