<div class="container">

	<div class="starter-template">
		<h1>{{get_name}}</h1>
		<p class="lead">This is a developer portal meant to be able to track and add tasks!</p>
	</div>

</div><!-- /.container -->
