<div class="container">

	<div id="post">
		<h1>Success!</h1>
		<div class="alert alert-dismissible alert-success">
			<strong>Congrats! You successfully logged in!</strong> Click <a href="/account" class="alert-link">here</a> to go to your account, or use the nav bar to navigate around.
		</div>
	</div>

</div><!-- /.container -->
